<html>

<head>
  <title>Welcome</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <h1>Welcome to Secret Viewer</h1>
  <p>login to view your secret</p>
  <a href="/login">Login Page</a>
</body>

</html>
