<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
  <title>Welcome</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<style>
  /* banner stuff */
  .banner {
    width: 100%;
    height: 350px; 
    background-image: url('shoosh-ssshh.gif');
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    margin-top: 0;
  }
  body {
    background-color: #000000;
    color: #fff;
  }
  .title {
    display: block; 
    font-size: 40px;
    font: Courier;
    margin-bottom: 10px;
  }

  .para {
    display: block; 
    font-size: 35px;
    font: Courier;
    margin-bottom: 10px;
  }

  .scary-text {
        color: red;
        font-weight: bold;
        font-size: 25px;
    }

  .button {
    padding: 15px 25px;
    background-color: #C41E3A;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }

  /* Button hover */
  .button:hover {
    background-color: #8B0000;
  }
</style>
<body>
  <div class="banner"></div> <br /><br />
  <center><TT>
  <h1 class="title">Welcome, <%= name %></h1>
  <h3 class="para">your secret is: </h3>
  <p class="scary-text"><%= secret %></p>
  <a href="/logout" class="button">logout</a>
  </center></TT>
</body>

</html>
