<html>

<head>
  <title>Welcome</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <h1>Welcome, <%= name %></h1>
  <h3>your secret is </h3>
  <p><%= secret %></p>
  <a href="/logout">logout</a>
</body>

</html>
